{% extends 'base.html' %}
{% load static %}

{% block title %} Gestión de Reportes {% endblock %}

{% block head %}
    <link href="{% static 'css/reportes.css' %}" rel="stylesheet" />
{% endblock %}

{% block breadcrumb_items %}
    <li class="breadcrumb-item">Reportes</li>
{% endblock %}

{% block content_page %}
<div class="container-fluid mt-2">
    <div class="row mb-3">
        <div class="col">
            <span class="h1">Reportes</span>
            <p class="text-muted small">Visualiza y analiza el comportamiento de tus ingresos, la recaudación mensual y la efectividad de cada método de pago.</p>
        </div>
    </div>

    <div class="row g-4">
        <!-- Tarjeta de Ingresos Mensuales -->
        <div class="col-12 col-lg-6">
            <div class="card main-card p-4 h-100">
                <!-- Encabezado -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="fw-bold m-0 h3 text-dark">Ingresos Mensuales</h2>
                    <div class="d-flex gap-2">  
                        <select class="form-select text-muted select-custom" aria-label="Seleccionar mes">
                            <option selected>Mes</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                        <!-- botón de impresión -->
                        <button class="btn btn-sm btn-outline-dark" type="button">
                            <img src="{% static 'images/imprimir.svg' %}" alt="Imprimir" title="Imprimir" width="20" height="20">
                        </button>
                    </div>
                </div>
                <hr class="text-muted mb-5">
                <!-- Bloques de Recaudación en bolivares y dolares -->
                <div class="row">
                    <div class="col-6">
                        <div class="card text-center card-recaudacion border-bs h-100 p-3">
                            <span class="fw-bold text-dark h5 mb-2">Recaudacion en Bs</span>
                            <span class="fw-bold h4 text-bs m-0">{{ recaudacion_bs }} Bs</span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card text-center card-recaudacion border-usd h-100 p-3">
                            <span class="fw-bold text-dark h5 mb-2">Recaudacion en $</span>
                            <span class="fw-bold h4 text-usd m-0">{{ recaudacion_usd }} $</span>
                        </div>
                    </div>
                </div>
                <!-- Contenedor del Gráfico de Ingresos Mensuales -->
                <div class="chart-container flex-grow-1 d-flex align-items-end justify-content-center">
                    <canvas id="graficaMensual" style="max-height: 330px; width: 100%;"></canvas>
                </div>
            </div>
        </div>

        <!-- Tarjeta de Distribución de Ingresos por metodo de pago -->
        <div class="col-12 col-lg-6">
            <div class="card main-card p-4 h-100">
                <!-- Encabezado -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h2 class="fw-bold m-0 h4 text-dark text-wrap-balance">Distribución de ingresos por método de pago</h2>
                    <!-- botón de impresión -->
                    <button class="btn btn-sm btn-outline-dark" type="button">
                        <img src="{% static 'images/imprimir.svg' %}" alt="Imprimir" title="Imprimir" width="20" height="20">
                    </button>
                </div>
                <hr class="text-muted mb-5">
                <!-- Contenedor del Gráfico Métodos de Pago -->
                <div class="chart-container flex-grow-1 d-flex align-items-end justify-content-center">
                    <canvas id="graficaMetodos" style="max-height: 330px; width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %} ```

{% block scripts %}
<!-- Script para manejar la lógica de las gráficas de reportes -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/graficasReportes.js' %}"></script>
    
{% endblock %}