{% load static %}

<div class="modal fade" id="actualizarConfig" tabindex="-1" aria-labelledby="actuConfigModal" aria-hidden="true">
    <div class="modal-dialog modal-fluid modal-dialog-centered">
            <div class="modal-content">
                <!-- Encabezado del modal con título y botón de cierre -->
                <div class="modal-header">
                    <h5 class="modal-title" id="actuConfigModal">Configuración</h5>
                    <button type="button" data-bs-dismiss="modal" aria-label="Cerrar" class="bg-transparent border-0 ms-auto p-0">
                        <img src="{% static 'images/boton_cerrar.svg' %}" alt="Cerrar" width="20" height="20" >
                    </button>
                </div>
                <!-- Cuerpo del modal -->
                <div class="modal-body">
                    <form method="post" action="{% url 'panelMorosidad' %}">
                        {% csrf_token %}
                        <div class="row g-3 mb-3">
                            <div class="col-md-6 text-start">
                                <label for="id_diasGracia" class="form-label">Días maximo de pago</label>
                                {{ form.diasGracia }}
                            </div>
                            <div class="col-md-6 text-start">
                                <label for="id_diaCobroMensual" class="form-label">Día de cobro mensual</label>
                                {{ form.diaCobroMensual }}
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <button type="submit" name="guardarConfig" class="btn btn-success">
                                Guardar configuración
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>