.target-resumen {
    border-radius: 15px;

}.target-resumen:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.bg-solventes {
    background-color: #56d97b;
}
.bg-exonerados {
    background-color: #52abf4;
}
.bg-pendientes {
    background-color: #fca624;
}
.bg-desconectados {
    background-color: #f44336;
}

.bg-chart-logs { 
    background-color: #f3e5f5; 
    border-radius: 8px; 
    border: 2px solid #ce93d8; 
}

.bg-chart-cobranzas { 
    background-color: #ffebee ; 
    border-radius: 8px; 
    border: 2px solid #f8bbd0; 
}